<!--START from /var/www/html/php4/ydp_trunk/local/templates/myrecord/general_reports_summary.html comment made with MMCM-->
{if false}
<div style='float:right; clear: both'>
<fieldset class="radio" id="person" >
<legend>{l}Your YPD Summaries{/l}</legend>
<ul>
{foreach from=$report_links item=link key=name}
<li><a href='{$link}'>{$name}</a></li>
{foreachelse}
<li>You have no Summaries </li>
{/foreach}
</ul>
</fieldset>
</div>			
{/if}
<!--END from /var/www/html/php4/ydp_trunk/local/templates/myrecord/general_reports_summary.html comment made with MMCM-->
