<!--START from /var/www/html/php4/ydp_trunk/local/templates/myrecord/general_files_summary.html comment made with MMCM-->

<div style='float:right; clear: both'>
<fieldset class="radio" id="person" >
<legend>{l}Your Files{/l}</legend>
<ul>
{foreach from=$file_links item=link key=name}
<li><a href='{$link}'>{$name}</a></li>
{foreachelse}
<li>You have no Files </li>
{/foreach}
</ul>
</fieldset>
</div>			

<!--END from /var/www/html/php4/ydp_trunk/local/templates/myrecord/general_files_summary.html comment made with MMCM-->
