<html><head></head><body>
<!--START from /var/www/html/php4/ydp_trunk/local/templates/myrecord/record_email_html.html comment made with MMCM-->
<!--START from /var/www/html/php4/ydp_trunk/local/templates/myrecord/record_email_html.html comment made with MMCM-->


<h1>Thanks for using YDP</h1>

<a href='{$link}'>Your Health Summary</a><br>
<br>


<!--END from /var/www/html/php4/ydp_trunk/local/templates/myrecord/record_email_html.html comment made with MMCM-->
<!--END from /var/www/html/php4/ydp_trunk/local/templates/myrecord/record_email_html.html comment made with MMCM-->
</body></html>
