<html><head></head><body>
<!--START from /var/www/html/php4/ydp_trunk/local/templates/survey/survey_email_html.html comment made with MMCM-->
<!--START from /var/www/html/php4/ydp_trunk/local/templates/survey/survey_email_html.html comment made with MMCM-->


<h1>Thanks for using YDP</h1>

Please visit the following link to fillout a YDP Survey regarding your recent care
<a href='{$link}'>Health Survey</a><br>
<br>


<!--END from /var/www/html/php4/ydp_trunk/local/templates/survey/survey_email_html.html comment made with MMCM-->
<!--END from /var/www/html/php4/ydp_trunk/local/templates/survey/survey_email_html.html comment made with MMCM-->
</body></html>
