<!--START from /var/www/html/php4/ydp_trunk/local/templates/ydpprotocol/general_edit.html comment made with MMCM-->
{clni_form action=$FORM_ACTION process=$PROCESS id="$protocol_id"}
What is the name of this protocol?<br>
{input name="name" type="text" size="25" value="$name"}<br>

What file name should this protcol be saved to? (if you do not know for sure then do not change)<br>
{input name="file_name" type="text" size="50" value="$file_name"}<br>
Key elements of the history/physical that are treatment targets?<br>
{input style="width: 6in; height: 1in;" name="history_targets" type="text" size="2000"
value="$history_targets"}<br>
What are the patients Risk Factors that are treatment targets?<br>
{input style="width: 6in; height: 1in;" name="risk_factors" type="text" size="2000" 
value="$risk_factors"}<br>


Treatment goals?<br>
{input style="width: 6in; height: 1in;" name="treatment_goals" type="text" size="2000" 
value="$treatment_goals"}<br>

Typical Medications?<br>
{input style="width: 6in; height: 1in;" name="medications" type="text" size="2000" 
value="$medications"}<br>

Indications for lab studies?<br>
{input style="width: 6in; height: 1in;" name="lab_studies" type="text" size="2000" 
value="$lab_studies"}<br>
Indications for imaging studies?<br>
{input style="width: 6in; height: 1in;" name="imaging_studies" type="text" size="2000" 
value="$imaging_studies"}<br>
Outcome goals?<br>
{input style="width: 6in; height: 1in;" name="outcome_goals" type="text" size="2000"
value="$outcome_goals"}<br>
Referral criteria, if referring patient out?<br>
{input style="width: 6in; height: 1in;" name="referral" type="text" size="2000"
value="$referral"}<br>

{submit}
</form>
<!--END from /var/www/html/php4/ydp_trunk/local/templates/ydpprotocol/general_edit.html comment made with MMCM-->
