{literal}
<script type='text/javascript'>
function toggle(obj) {
		var el = document.getElementById(obj);
		if ( el.style.display != 'none' ) {
			el.style.display = 'none';
		}
		else {
			el.style.display = '';
		}
		return false;
	}
function turn_on(obj) {
		var el = document.getElementById(obj);
		el.style.display = '';

	}
function turn_off(obj) {
		var el = document.getElementById(obj);
		el.style.display = 'none';
	}

</script>
{/literal}

Status = {$status} <br>
Message = {$message} <br>

<a href='#' onclick="toggle('debug')">Show Debugging</a>
<div id='debug' style='display: none'>
<h1>SOAP sent = </h1>
<pre>
{$request_txt}
</pre>
<h1>Results returned = </h1>
<pre>
{$response_txt}
</pre>
</div>

