
<a href='{$newcrop_show}'> Manage Prescriptions</a>
{if !empty($meds_array)}
<table class='grid'>
{foreach from=$meds_array key=k item=med}
{/foreach}
<tr>
<th>Name  </th>
<th>Strength  </th>
<th>Dosage  </th>
</tr>
{foreach from=$meds_array key=k item=med name=medloop}
<tr {if $smarty.foreach.medloop.iteration %2 == 0}class="alt"{/if}>
<td> {$med.DrugName} </td>
<td> {$med.Strength} {$med.StrengthUOM} </td>
<td> {$med.DosageNumberDescription}  {$med.DosageFrequencyDescription} </td>
</tr>
{/foreach} 
</table>
<a href='{$newcrop_list}'>View Full List</a>
{/if}
<br>
<br>
<a href='{$newcrop_allergyshow}'> Manage Allergies</a>
{if !empty($allergy_array)}
<table class='grid'>
{foreach from=$allergy_array key=k item=med}
{/foreach}
<tr>
<th>Name  </th>
<th>Severity  </th>
</tr>
{foreach from=$allergy_array key=k item=allergy name=allergyloop}
<tr {if $smarty.foreach.allergyloop.iteration %2 == 0}class="alt"{/if}>
<td> {$allergy.Name} </td>
<td> {$allergy.SeverityName}</td>
</tr>
{/foreach} 
</table>
<a href='{$newcrop_list}'>View Full List</a>
{/if}
